@charset "utf-8";

$header-height: 67px;

$content-header-height: 80px;

$footer-height: 50px;

$subject-line-height: 30px;

$header-obj-height: 36px;

$default-text-color: #4f6269;

$base-green: #41bb19;

$bg-gray: #ebf0f0;

$bg-base: #f5f5f5;

$black: #000000;

$white: #ffffff;

$green: #41bb19;

$white-green: #f0faf0;

$gray: #a0a0a0;

$light-gray: #d0d0d0;
